<!-- this page is to create a new post --> 
<section class="new-post-section"></section>
    <button type="submit" class="btn" id="create-new-post">+ Create a new post</button>
</section>


<section>
    <h2>Your Dashboard for Posts</h2>
    {{#if posts.length}}
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit your post</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
        <p>No posts available. Create a new post!</p>
    {{/if}}
</section>

<script src="/js/dashboard.js"></script>