<!-- login form. inside the form I have a username entry field and password entry field. I also have a submit button and a sign up link that will take you to a sign up page-->
<section class="row"></section>
    <div class="col justify-content-center">
        <h1>Login</h1>
    </div>
    <div class="form-login">
        <form class="login-form">
            <div>
                <label for="login-username">Username</label>
                <input type="text" class="entry-field" id="login-username" />
            </div>
            <div>
                <label for="login-password">Password</label>
                <input type="password" class="entry-field" id="login-password" />
            </div>
            <div>
                <button type="submit" class="login-btn">Log In!</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="sign-in-link">sign up</a>
</section>

<script src="/js/login.js"></script>